.newUser {
  flex: 4;
  padding: 25px;
  position: relative;
}

.newUserForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.addUserImageItem {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.addUserImageItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 5px;
}

.addUserImageItem > input {
}

.newUserFormPartOne {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
  row-gap: 15px;
}

.newUserItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newUserItem > label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newUserItem > input {
  height: 20px;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newUserItem > select {
  width: 20%;
}

.newUser .addressformgroup {
  margin-bottom: 5px;
}

.newUser .addressformgroup label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
  display: inline-block;
  width: 70px;
}

.newUser .addressformgroup input {
  height: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newUserFormPartTwo {
  margin-top: 25px;
}

.newUserButton {
  width: 100px;
  border: none;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  font-weight: 600;
  border-radius: 10px;
}

.newUser .loadingIndicator {
  position: absolute;
  top: 250px;
  left: 500px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
