.newProduct {
  flex: 4;
  margin-left: 100px;
  position: relative;
}

.addProductForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.addProductImageItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductImageItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductImageItem > input {
  padding: 10px;
}

.formPartTwo {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 10%;
  column-gap: 10%;
  row-gap: 10px;
}

.addProductItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex: 1 1 35%;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 5px;
}

.addProductItem > input {
  padding: 10px;
}

.addProductItem > select {
  padding: 5px;
  width: 80px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 100px;
}

.successPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 400px;
  height: 200px;
  background-color: rgb(251, 251, 255);
  padding: 25px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.successPopup button {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 100px;
}
